ul {
    &.submenu {
        padding-left: 20px;
    }
}
.bd-notification {
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #7a7a7a;
    font-weight: 600;
    padding: 1.25rem 0;
    position: relative;
    text-align: center;

    &.is-primary {
        background-color: #00d1b2;
        color: #fff;
    }
}